* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #0d1354;
}

.now {
  margin-top: 10px;
  background-color: #96c7de;
  width: 100%;
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.to-do-app {
  width: 100%;
  height: 100%;
  background: #161a2b;
  background-color: #09092a;
  border: 2px solid #09092a;
  display: flex;
  justify-content: center;
  min-height: 600px;
  width: 500px;
  color: #fff;
  margin: 60px auto;
  padding: 20px;
}

.to-do-input {
  width: 320px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 20px;
  background: blue;
  border: 2px solid #7e772e;
  color: #fff;
  padding-left: 5px;
}

button {
  height: 40px;
  width: 80px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  background-color: #2d0f9a;
  border-radius: 5px;
  border: 2px solid #7e772e;
  cursor: pointer;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 50px;
  border: 2px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
  align-items: center;
  background-color: #041061;
  border: 2px solid #7e772e;
}

.todo-row:nth-child(4n + 1) {
  background-color: #1b22b1;
}

.todo-row:nth-child(4n + 2) {
  background-color: #296dcc;
}

.todo-row:nth-child(4n + 3) {
  background-color: #5baedd;
}

span {
  margin: 5px;
  cursor: pointer;
}

.mb3 {
  background-color: #041061;
  color: #fff;
}

.modalMain {
  background-color: #041061;
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main input {
  width: 140px;
  margin-left: 8px;
}

form .button {
  color: #fff;
}
